:root {
    --primary-color: #2e2e2e;
    --secondary-color: #5f6368;
    --background-color: #eef2f3;
    --background-color-light: #f4f4f4;
    --background-color-dark: #e5e5e5;
    --text-color: #5f6368;
    --navy-color: navy;
    --white-color: white;
    --font-primary: "Merriweather", serif;
    --font-secondary: "Roboto Slab", serif;
    --font-tertiary: "Roboto Condensed", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-primary);
    background-color: var(--background-color);
}

.page {
    padding: 30px;
    background-color: var(--background-color-light);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    min-width: 80%;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-secondary);
    font-size: 50px;
    font-weight: 700;
    background-color: var(--navy-color);
    color: var(--white-color);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: var(--font-secondary);
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--font-tertiary);
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    margin: 50px 200px;
}

.visualization-container {
    background-color: var(--background-color-light);
    padding: 0; /* Remove padding */
    box-shadow: none; /* Remove any shadows */
    width: 100%; /* Ensure the container takes the full width */
    height: auto; /* Ensure height is auto-adjusted */
}

.visualization-container-column {
    background-color: #dddddd;;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px 0;
}

.pure-g {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pure-u-1-1, .pure-u-1-2, .pure-u-1-3 {
    width: 100%;
    text-align: center;
}

.pure-u-1-4, .pure-u-1-5 {
    width: 48%;
    text-align: center;
}

.section-container {
    background-color: #dddddd; /* Background color for section box */
    padding: 20px; /* Padding inside the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Box shadow for section box */
    margin: 20px 0; /* Gap between sections */
}

input[type="range"] {
    width: 70% !important;
    margin-top: 20px;
}

.two-column-layout {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 10px;
}

